/* ---- grid ---- */

.grid {
    margin: 0 auto;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 400px;
    margin-bottom: 5px;
}

@media screen and (max-width: 319px) {
    .grid-sizer,
    .grid-item {
        width: 100%;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .grid-sizer,
    .grid-item {
        width: 50%;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 641px) and (max-width: 1360px) {
    .grid-sizer,
    .grid-item {
        width: 33%;
        margin-bottom: 5px;
    }
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

/* LIGHTBOX */
.lb-image {
    border: 0 !important;
    border-radius: 0 !important;
}